#jukebox  {
  width: 763px;
  height: 300px;
  margin: 80px auto;
  /* border: 2px #151515 solid; */
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-div {
  position: absolute;
  top: 420px;
  right: 40%;
  margin-right: -206px
}

#songButton {
  font-size: 34px;
  border-radius: 17px;
  border: 2px solid #00ff8c;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  font-family: 'Permanent Marker', cursive;
  padding: 10px 30px;
  margin: 30px;
}

#redirect {
  font-size: 34px;
  border-radius: 17px;
  border: 2px solid #00ff8c;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  font-family: 'Permanent Marker', cursive;
  padding: 10px 30px;
  margin: 30px;
}

#songButton:hover {
  background: #00ff8c;
  border: 2px solid white;
  cursor: pointer;
}

#songButton:focus {
  outline: none;
}

p {
  color:red
}

#lyrics {
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 22px;
  margin: 20px 10px;
}

#audio {
  /* position: relative;
  margin-top: 40px;
  left: 39%; */
}

.artist-name {
  margin: 0;
}

.artist-name, .song-name {
  color: #13757f;
}

.lyric {
  color: red;
  font-size: 30px;
  text-shadow: 0 0 6px white;
}



canvas {
  display: inline-block;
  z-index: -1;
}
